# Folders to be ignored
Documents/
Old_Pics/
Data/*
*.zip

# Files to be ignored
Code/Additional_Attempts.R
*.txt
*Copy.pdf
*Old.pdf

# Exceptions to previous ignores
!Data/Diarrhoea_Treatments_Mongu.xlsx
